<html>
  <head>
    <title>Ultiflow</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    
    <link rel="stylesheet" href="static/plugins/bower_components/jquery-ui/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" href="static/plugins/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/main.css">
    <script src="static/plugins/bower_components/requirejs/require.js"></script>
    <script type="application/javascript">
      require.config({
        map: {
          '*': {
            'css': 'static/plugins/bower_components/require-css/css'
          }
        },
        paths: {
          'jquery': 'static/plugins/bower_components/jquery/dist/jquery',
          'jquery-ui': 'static/plugins/bower_components/jquery-ui/jquery-ui',
          'socket-io': 'static/plugins/bower_components/socket.io/test/socket.io',
          'bootstrap': 'static/plugins/bower_components/bootstrap/dist/js/bootstrap.min',
          'main-nav-bar': 'static/javascript/jquery.ult.main_nav_bar',
          'main-view': 'static/javascript/jquery.ult.main_view',
          'app': 'static/javascript/ult.app',
          'helper': 'static/javascript/ult.helper',
          'file_chooser': 'static/javascript/jquery.ult.file_chooser'
        }
      });
    </script>
    <script src="static/javascript/main.js"></script>
  </head>
  <body>
    <div id="ultide">
      
      
      <div class="navbar navbar-inverse navbar-fixed-left">
        <a class="navbar-brand" href="#">QbiQe</a>
        <div class="main-nav-bar">
        </div>
      </div>
      
      <div class="main-view"></div>
    </div>
    
    
    
  </body>
</html>